<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UI Radicals</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="css/main.css" media="all" rel="stylesheet" type="text/css">
    </head>
    <body>
      <main>
        <%- yield %>
      </main>
      <script title="jQuery from the CDN" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/prism.js"></script>
      <script src="js/code.snippets.js"></script>
      <script type="text/javascript" src="src/resig.inheritance.js"></script>
      <script src="src/radical.toggle.js"></script>
      <script src="src/radical.neutralize.siblings.js"></script>
      <script src="src/radical.neutralize.ancestor.js"></script>
      <script src="src/radical.selection.group.js"></script>
      <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>